/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Estilo del encabezado */
header {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

/* Estilo del nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 10;
}

/* Estilo botón Idiomas */
.dropdown-container {
    position: relative;
    flex: 1;
    text-align: right;
}

.dropdown-container a {
    text-decoration: none;
    color: #1d1d1f;
    font-size: 16px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.dropdown-container a:hover {
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

/* Estilo del menú desplegable */
nav .dropdown {
    display: none;
    position: absolute;
    top: 152.5%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    list-style: none;
    width: 6%;
    z-index: 20;
}

nav .dropdown li a {
    padding: 10px 20px;
    display: block;
    color: #1d1d1f;
}

nav .dropdown li a:hover {
    background-color: #007aff;
    color: white;
}

nav .dropdown.show {
    display: block;
}

/* Estilo del pie de página */
footer {
    background-color: #f5f5f7;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #e1e1e1;
}

footer p {
    font-size: 14px;
    color: #6e6e73;
}

/* Estilos específicos para la página de proyectos detallados */
.title-projects {
    padding: 60px 40px;
    text-align: center;
}

.detailed-projects {
    padding: 60px 40px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.detailed-projects h1, .detailed-projects h2 {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}

.detailed-projects h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.detailed-projects h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.detailed-projects .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.detailed-projects .project-item {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 40px);
    text-align: left;
    margin-bottom: 20px;
}

.detailed-projects .project-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.detailed-projects .project-item h3 {
    font-size: 24px;
    margin-top: 10px;
}

.detailed-projects .project-item p {
    font-size: 16px;
    color: #6e6e73;
}

/* Nueva sección de herramientas */
.tools-section {
    background-color: #e1e1e1;
    padding: 40px 20px;
    text-align: center;
}

.tools-section .content {
    max-width: 1200px;
    margin: 0 auto;
}

.tools-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.tools-section .tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tools-section .tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
}

.tools-section .tool-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.tools-section .tool-item p {
    font-size: 14px;
    margin: 0;
}

.project-img {
    cursor: pointer;
}

/* Estilos responsivos para pantallas con ancho máximo de 768px */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px 20px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav .logo {
        margin-bottom: 10px;
        align-self: center;
    }

    nav .nav-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        justify-content: space-around;
    }

    nav .nav-links li {
        flex: 1 1 auto;
        text-align: center;
    }

    nav .nav-links li a {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .dropdown-container {
        align-self: center;
        margin-top: 10px;
    }

    .dropdown-container a {
        display: inline-block;
        padding: 10px 20px;
    }

    .dropdown-container .dropdown {
        position: static;
        width: 100%;
        box-shadow: none;
        background-color: transparent;
    }

    .dropdown-container .dropdown li a {
        display: block;
        padding: 10px 20px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        margin: 5px 0;
    }
}
